

:root {
  --cor-fundo: grey;
  --cor-texto: black;
  --cor-primaria: black; 
  --fonte-padrao: Arial, sans-serif;
}


body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: var(--fonte-padrao);
}


nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: var(--cor-primaria);
  padding: 15px;
}


nav a {
  color: white; 
  text-decoration: none;
  font-weight: bold; 
}


body.dark-mode {
  --cor-fundo: #0F172A;
  --cor-texto: #F8FAFC;
  --cor-primaria: #002244; 
}


body.dark-mode nav a {
  color: white;
}


body.fonte-maior {
  font-size: 1.2rem;
}


body.fonte-menor {
  font-size: 0.9rem;
}


.oculto {
    display: none;
}


.lista-musicas li {
    margin-bottom: 25px;
    list-style: none; 
}

.btn-toggle-musica {

    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


.btn-toggle-musica:hover {
    opacity: 0.8;
}


body.dark-mode .btn-toggle-musica {
    color: red;
    background-color: #002244;
}